/*--
    .mini-hero-area start
--*/

.bg-gray {
  background: #f8f8f8;
}

.mini-hero-area {
  background-size: cover;
  background-attachment: fixed;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-hero-area h1 {
  color: #fff;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 19px;
}

.mini-hero-area p {
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
}

.mini-hero-area .counter {
  background: rgba(255, 255, 255, 0.2);
  padding: 18px;
}

.mini-hero-area .counter ul li {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  display: inline-block;
  line-height: 25px;
  padding: 25px 28px 20px;
  text-align: center;
  width: 49%;
  margin-bottom: 3px;
}

.mini-hero-area .counter ul li span {
  display: block;
  font-size: 16px;
  font-weight: 600;
}

.mini-hero-area .counter ul li .digit {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  position: relative;
  overflow: hidden;
  height: 60px;
}

@media only screen and (max-width:400px) {
  .mini-hero-area .counter ul li .digit {
    font-size: 30px;
    line-height: 30px;
    height: 40px;
  }
}

.mini-hero-area .btn {
  margin-bottom: 10px;
}

.float-none {
  float: none;
}

@media only screen and (min-width: 991px) {
  .float-lg-left {
    float: left;
  }
}

/* .mini-hero-area  */
