<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ with .Title }}{{ $title := printf "%s" $.Title }}{{ if not (eq $title $.Site.Title)}}{{$title}} - {{ end }}{{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Params.description | default .Site.Params.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msvalidate.01" content="F3A8BBB4E2D222E3161301F6D0070FFD" />
    <meta name="yandex-verification" content="3374a3a9361f37be" />
    <!-- SEO Schema -->
    {{- if isset .Params "tags" }}
      {{- .Scratch.Set "seo_tags" (apply .Params.tags "urlize" "." ) }}
      {{- .Scratch.Add "seo_tags" (apply .Site.Params.seo_tags "urlize" ".") }}
    {{- else }}
      {{- .Scratch.Set "seo_tags" (apply .Site.Params.seo_tags "urlize" ".") }}
    {{- end }}
    <script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "WebPage",
        "mainEntityOfPage": {
             "@type": "WebPage",
             "@id": "{{ .Site.BaseURL }}"
        },
        "name" : "{{ with .Title }}{{ $title := printf "%s" $.Title }}{{ if not (eq $title $.Site.Title)}}{{$title}} - {{ end }}{{ end }}{{ .Site.Title }}",
        "description" : "{{ .Params.description | default .Site.Params.description }}",
        "inLanguage" : "en-GB",
        "author" : "Mockingbird Consulting Ltd",
        "copyrightHolder" : "Mockingbird Consulting Ltd",
        "copyrightYear" : "2019",
        "url" : "{{ .Permalink }}",
        "keywords" : {{ .Scratch.Get "seo_tags" }}
    }
    </script>
    <!-- Open Graph Data -->
    {{ template "_internal/opengraph.html" . }}
    <!-- twitter cards -->
    {{ template "_internal/twitter_cards.html" . }}
    <!--     Fonts and icons     -->
    {{"<!-- Fonts -->" | safeHTML }}
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400i|Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    {{ "<!-- Stylesheets -->" | safeHTML }}
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/themefisher-fonts.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/font-awesome.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/owl.carousel.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/animate.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/custom.css" | absURL }}">
    {{"<!-- Responsive Stylesheet -->" | safeHTML }}
    <link rel="stylesheet" href="{{ "css/responsive.css" | absURL }}">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body id="body">
