{{ if .Site.Params.portfolio.enable }}
{{ "<!-- Portfolio Section Start -->" | safeHTML }}
<section id="works" class="works">
    <div class="container">
        <div class="section-heading">
            {{ with .Site.Params.portfolio.title }}<h1 class="title wow fadeInDown" data-wow-delay=".3s">{{ . }}</h1>{{ end }}
            {{ with .Site.Params.portfolio.subtitle }}<p class="wow fadeInDown" data-wow-delay=".5s">{{ . }}</p>{{ end }}
        </div>
        <div class="row">
            {{ range $index, $element:= where (where .Site.RegularPages "Type" "in" (slice "portfolio" "blog")) ".Params.featured" "==" true}}
            <div class="col-md-4 col-sm-6">
                {{ $delay := mul $index 300 }}
                <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="{{ $delay }}ms">
                    <div class="img-wrapper">
                        <img src="{{ .Params.Image | relURL }}" class="img-fluid img-thumbnail" alt="{{ .Title }}">
                        <div class="overlay">
                            <div class="buttons">
                                <a href="{{ .Permalink }}">Read More</a>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            <a href="{{ .Permalink }}">
                                {{ .Title }}
                            </a>
                        </h4>
                        <p>
                            {{ .Params.caption }}
                        </p>
                    </figcaption>
                </figure>
            </div>
            {{ end }}
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                Want to see more of the things we're working on? Check out our <a href="/portfolio" alt="A link to our work portfolio">Portfolio</a> or our <a href="/blog" alt="A link to our blog">Blog</a>.
                </p>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Portfolio Section End -->" | safeHTML }}
{{ end }}
