<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <p>Mockingbird Consulting is registered in England and Wales. Company Number 10488438. </p>
                    <p>Registered Address: Bridges Centre, Drybridge House, Monmouth, NP25 5AS.</p>
                    <p>Copyright &copy {{ dateFormat "2006" now }};
                    <a href="https://www.mockingbirdconsulting.co.uk/">Mockingbird Consulting Ltd</a> | Theme by <a href="http://www.Themefisher.com">Themefisher</a>| All right reserved.
                    </p>

                </div>
            </div>
        </div>
    </div>
</footer>


{{"<!-- Js -->" | safeHTML}}
<script src="{{"js/vendor/jquery-2.1.1.min.js" | absURL}}"></script>
<script src="{{"js/bootstrap.min.js" | absURL}}"></script>
<script src="{{"js/vendor/modernizr-2.6.2.min.js" | absURL}}"></script>
<script src="{{"js/owl.carousel.min.js" | absURL}}"></script>
<script src="{{"js/jquery.validate.min.js" | absURL}}"></script>
<script src="{{"js/jquery.form.js" | absURL}}"></script>
<script src="{{"js/jquery.nav.js" | absURL}}"></script>
<script src="{{"js/wow.min.js" | absURL}}"></script>
<script src="{{"js/main.js" | absURL}}"></script>
{{ partial "matomo.html" . }}
{{ partial "mautic.html" . }}
</body>

</html>
